<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Powered By <b>Questronix Corporation</b>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 All rights reserved. Email: <a href="mailto:kendrick_crucillo@questronix.com.ph?Subject=APIConnect DEMO"><b>kendrick_crucillo@questronix.com.ph</b></a></strong>
</footer>